.app-nav {
  display: flex;
  align-items: center;
  height: 50px;
  padding-inline: 16px;
  background-color: #373737;
  .wrapper {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 4px;
    a {
      height: 50px;
      padding-inline: 12px;
      display: flex;
      align-items: center;
      color: #ffffff;
      &:hover,
      &.active {
        background-color: #8dc63f;
      }
    }
  }

  .hamburger {
    display: none;
    cursor: pointer;
    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      background-color: #ffffff;
      transition: all 0.3s ease;
    }
  }
}

@media screen and (max-width: 860px) {
  .app-nav {
    .wrapper {
      position: absolute;
      left: -100%;
      top: 50px;
      flex-direction: column;
      width: 45%;
      height: calc(100% - 50px);
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
      background-color: #373737;
      z-index: 4;
      &.active {
        left: 0;
      }

      a {
        width: 100%;
      }
    }

    .hamburger {
      display: block;
      &.active {
        .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }
        .bar:nth-child(2) {
          opacity: 0;
        }
        .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
  }
}
